body{
  margin: 0;
  padding: 0;
}

#container{
  text-align: center;
  background-color: #6c2d75;
  width: 100%;
  /* height: 100%; */
  /* margin: 0 auto; */
  padding: 1rem;
  position: absolute;
  top: 0;
}

div.container{
  display: inline;
  margin: 0 auto;
}

h1{
  font-family: 'Merienda', cursive;
  color: white;
  font-size: 2.5rem;
}

h2{
  color: goldenrod;
  font-family: Ranchers, cursive;
  letter-spacing: 2px;
}

h3{
  color: white;
  font-family: Ranchers, cursive;
  letter-spacing: 2px;
}

#display1 { 
  /* float:left;   */
  margin: 0 auto;
  background:Red; 
  border-radius: 10%;
  width:23%; 
  height:230px; 
} 


#display2{ 
  /* float:left;   */
  margin: 0 auto;
  background:Green; 
  border-radius: 10%;
  width:23%; 
  height:230px; 
} 
#display3{ 
  /* float:right;  */
  margin: auto;
  background:blue; 
  border-radius: 10%;
  width:23%; 
  height:230px; 
}

/* #display{
  width: 40vw;
  min-height: 70vh;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.6);
  text-align: center;
  padding: 1rem;
} */

#display1 > img,
#display2 > img,
#display3 > img
{
  width: 4.3em;
  border: 2px solid black; 
}

#display > p {
  font-size: 1.3rem;
}


#draw {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 5vh auto;
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;
  font-family: Ranchers, cursive;
  letter-spacing: 2px;
}

button:hover
{
  color: white;
  background-color: crimson !important;
}
